*.cache
Lib/.*.aux
Lib/*.v.d
Lib/*.glob
Lib/*.vo
Lib/*.vok
Lib/*.vos
Lib/*.hi
Lib/*.o
*.aux
*.v.d
*.glob
*.vo
*.vok
*.vos
*.hi
*.o
Makefile.coq.*
Makefile.coq
.Makefile.coq.*
.coqdeps.d
*~
.*.swk
.*.swl
.*.swm
.*.swn
.*.swo
.*.swp
Clut/Compile.hs
Compile.hs
Rtl
Rtl.sv
obj_dir
Simulate.hs
Simulate
