# Coq build artifacts
*.aux
.*.aux
*.v.d
*.glob
*.vo
*.vok
*.vos
*.cache
.*.cache
Makefile.coq
Makefile.coq.*
.Makefile.coq.*
.coqdeps.d

# Haskell build artifacts
*.hi
*.o

# Editor backup files
*~
.*.sw?

# Generated RTL & Simulation files
Compile.hs
Rtl
*.sv
obj_dir
Simulate.hs
Simulate
