*.cache
Lib/.*.aux
Lib/*.v.d
Lib/*.glob
Lib/*.vo
Lib/*.vok
Lib/*.vos
Lib/*.hi
Lib/*.o
*.aux
*.v.d
*.glob
*.vo
*.vok
*.vos
PrettyPrinter/Compile.hs
*.hi
*.o
Makefile.coq.*
Makefile.coq
.Makefile.coq.*
.coqdeps.d
*~
.*.swk
.*.swl
.*.swm
.*.swn
.*.swo
.*.swp
Clut/Compile.hs
Compile.hs
Main
Main.sv
obj_dir
